#modal-posicionamento {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
#modal-container{
    display: flex;
    width: 35%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
}
#fechar-modal{
    display: flex;
    width: 95%;
    height: 5%;
    align-items: center;
}
#seta-fechar-modal{
    float: left;
}
#modal-conteudo{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    align-items: center;
}
#titulo{
    display: flex;
    height: 20%;
}
#corpo{
    display: flex;
    height: 50%;
    justify-content: space-evenly;
    margin-top: 10%;
}