 <div class="main-content">
   <div class="information-tasks">
    <div class="div-informations">
      <div>
        <h2
        class="tittle-section edit" 
        data-content-editable-leaf="true" 
        contenteditable="true"
        [class.editable]="isEditable"
        (input)="salvarTituloKanban($event.target.textContent)"
        >{{personalizacoes.titulo}}</h2>
      </div>
      <div>
        <a (click)="openModalProperties()"><h2 class="cursor-pointer">...</h2></a>
        <div *ngIf="modalProperties">
          <ul>
            <a class="cursor-pointer" (click)="cadastrarNovaPropriedadeModal()"><li>Cadastrar Propriedade</li></a>
          </ul>
        </div>
      </div>
    </div>
     <p 
     class="content-tasks-page edit"
     data-content-editable-leaf="true" 
      contenteditable="true"
      [class.editable]="isEditable"
      (input)="salvarDescricaoKanban($event.target.textContent)"
     >
       {{personalizacoes.descricao}}
      </p>
    </div>
  </div>
<div class="main-content-tasks">
 <div class="scroll-bar">
   <div
     *ngFor="let campo of campos"
     class="tittle-list-grid"
     [style.background-color]="campo.cor"
     (dragover)="atualizarCampo(campo, $event)"
     (drop)="drop($event)"
   >
     <div class="category-tittle">
       <h2
       class="edit"
       data-content-editable-leaf="true" 
      contenteditable="true"
      [class.editable]="isEditable"
      (input)="salvarNomeCampo(campo,$event.target.textContent)"
      >{{ campo.nome }}</h2>
     </div>
      <div
        *ngFor="let tarefa of getTarefas(campo); index as index"
        class="div-tasks-behind"
      >
       <app-task 
       [tarefasRegistradas]="tarefasRegistradas" 
       [tarefa]="tarefa" 
       [campo]="campo" 
       [campos]="campos"
       draggable="true"
       (dragstart)="drag(tarefa)"
       (drop)="getIndice(index, $event)"
       ></app-task>
     </div>
     <button (click)="newTask(campo)" class="button-add">+</button>
   </div>
   <div class="tittle-list-grid">
    <button (click)="novoCampo()" class="button-add">+</button>
  </div>
  </div>
</div>
<app-modal-input-data 
*ngIf="modalInputData"
(fecharModal)="fecharNovaPropriedadeModal"
>

  
</app-modal-input-data>



