<div id="squareRegisterCategory">
  <div class="information-register-category">
    <h2 class="tittle-section">Cadastre uma Nova Categoria</h2>
    <p class="content-register-category">
      Aqui você pode criar novas categorias para o seu kanban, utilize da
      criatividade para nomear ela.
    </p>
  </div>
  <div class="grid-category">
    <div class="category-list">
      <h3 id="tittle-list-category">Categorias Cadastradas</h3>
      <ul style="margin-top: 2%">
        <div
          *ngFor="let categoria of categorias; index as indice"
          class="category"
        >
          <li
            style="list-style-type: none"
            [style.background-color]="categoria.cor"
          >
            <div class="grid-category-one">
              <div class="category-div-behind-name">
                <div class="category-div-name">
                  <p class="category-name">{{ categoria.nome }}</p>
                </div>
              </div>
              <div class="icons-list">
                <input
                  type="color"
                  [(ngModel)]="categoria.cor"
                  class="button-input-list"
                />
                <button
                  class="button-input-list"
                  (click)="removerDaLista(indice)"
                >
                  Remover
                </button>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
    <div class="register-category">
      <div class="input-category-register">
        <h2>Nome</h2>
        <input
          id="input-category"
          [(ngModel)]="categoria.nome"
          placeholder="Insira a nova Categoria..."
          maxlength="40"
        />
        <h2>Selecione uma Cor</h2>
      </div>
      <div class="colorAndButton">
        <div class="inputs-registers">
          <input
            type="color"
            [(ngModel)]="categoria.cor"
            class="input-register-configurations-categories"
          />
        </div>
        <div class="inputs-registers" style="width: 100%">
          <button
            class="input-register-configurations-categories"
            (click)="cadastrarTarefa(categoria)"
          >
            Cadastrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
