  /* main square */
#squareRegisterCategory {
  background-color: white;
  display: flex;
  width: 100vw;
  height: 90vh;
  align-items: center;
  flex-direction: column;
}
/*  */
/* information square */
.information-register-category{
  display: flex;
  height: 30%;
  width: 70%;
  justify-content: center;
  flex-direction: column;
}
.tittle-section{
  border-bottom: 2px solid gray;
  width: 45%;
}
.content-register-category{
  display: flex;
  height: 10%;
  margin-top: 1%;
}
/*  */
/* categorys grid */
.grid-category {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(2,1fr);
}
/*  */
/* left-side-grid-list */
.category-list {
  display: flex;
  width: 100%;
  height: 150px;
  flex-direction: column;
}
#tittle-list-category{
  border-bottom: 2px solid gray;
  width: 60%;
}
.square-all-categories{
  display: grid;
  width: 100%;
  grid-template-columns: 75% 25%;
}
.grid-category-one{
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: 70px;
}
.category-div-behind-name{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.category-div-name{
  display: flex;
  width: 80%;
  height: 80%;
  background-color: white;
}
.category-name{
  word-break: break-all;
  font-size: 20px;
}
.icons-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.button-input-list{
  width: 80%;
  height: 50% ;
}


/* right-side-grid-register */
.register-category{
  display: flex;
  width: 100%;
  height: 30vh;
  align-items: center;
  background-color: rgb(201, 184, 184);
  flex-direction: column;
}
.input-category-register{
  display: flex;
  width: 80%;
  height: 50%;
  flex-direction: column;
}
#input-category{
  display: flex;
  width: 100%;
  height: 40%;
  font-size: 25px;
}
.colorAndButton{
  display: grid;
  width: 80%;
  grid-template-columns: 60% 40%;
}