
<div id="squareRegisterCategory">
  <div class="div-center">
    <h2>Cadastre uma Nova Categoria</h2>
    <input [(ngModel)]="categoria" placeholder="Insira a nova Categoria" />
    <button (click)="cadastrarTarefa(categoria)">Cadastrar</button>
    <div class="category-list">
      <ul>
        <div *ngFor="let categoria of categorias; index as indice">
          <li>
            <div class="row-category">
              <h2>{{ categoria }}</h2>  
              <button class="button-remove" (click)="removerDaLista(indice)">Remover</button>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
