#secao-tarefas{
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
}
#conteudo-principal{
    display: flex;
    width: 95%;
    flex-direction: column;
}
#botoes-acao-cadastro{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: end;
}
#conteudo-tarefas{
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  justify-content: baseline;
  flex-direction: row;
  column-gap: 2%;
  row-gap: 2%;
}
















/* MODAL CADASTRAR PROPRIEDADES */
#forms-propriedade{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
}
.forms-label-input-propriedade{
    display: flex;
    flex-direction: column;
    height: 50%;
}
.selecao-tipo-dado{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
#form-propriedade-selecao-itens{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.linha-input-opcao{
    display: flex;
    flex-direction: row;
}



/*  */