header {
  display: flex;
  background-color: rgb(91, 92, 179);
  margin-top: 0.5%;
  width: 100%;
  height: 50px;
  justify-content: center;
}
/* UTILITIES */
.wordBreak {
  word-break: break-all;
}

/* GRID-MAIN */
#main-grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 60% 40%;
}
.grid-show-default {
  flex-direction: column;
  display: flex;
  width: 90%;
  align-items: center;
  margin-top: 10%;
}
/* / */
/* LEFT SIDE TASKS */
.div-tarefas {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 80%;
  height: 10%;
  margin-bottom: 3%;
  margin-top: 3%;
}
.tarefa-registrada {
  color: aliceblue;
  justify-content: center;
  border: 2px solid white;
}
#tittle-tarefa {
  display: flex;
  width: 100%;
  height: 40%;
  border-bottom: 2px solid white;
}
.description-div {
  height: 100%;
  display: flex;
  border: 2px solid white;
}
#right-grid-inputs-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.buttons-inputs-list {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
}
.buttons-inputs-list:hover {
  color: rgb(160, 161, 214);
  background-color: white;
  border: 2px solid rgb(160, 161, 214);
  cursor: pointer;
}
/* / */
/* CADASTRO */
.div-main-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(91, 92, 179);
  max-height: 100vh;
}
.text-div-main-register {
  align-self: baseline;
  margin-left: 10%;
  background-color: inherit;
}

.inputs-buttons-cadastro {
  background-color: white;
  border: 2px solid rgb(57, 117, 170);
  color: rgb(57, 117, 170);
  justify-content: center;
  align-items: center;
}
#tituloTarefa {
  display: flex;
  width: 80%;
  height: 10%;
  font-size: 20px;
}
#descricao-tarefa {
  display: flex;
  width: 80%;
  height: 30%;
  font-size: 15px;
  resize: none;
}
#select-categoria {
  display: flex;
  width: 150px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

/* VISUALIZADOR DO CADASTRO */
.viewer-current-register {
  margin-top: 7%;
}
.description-view {
  display: flex;
  width: 80%;
  height: 100%;
}

#botao-cadastro {
  display: flex;
  width: 35%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
