<h1>TO-DO-LIST</h1>

<input
  placeholder="Cadastrar Tarefa"
  [(ngModel)]="tarefa.nome"
  [value]="valor"
/>

<select [(ngModel)]="tarefa.categoria">
  <option>To-Do</option>
  <option>Doing</option>
  <option>Done</option>
</select>

<button (click)="cadastrarUsuario()">Cadastrar</button>

<div *ngFor="let tarefa of tarefas; index as indice" class="div-tarefas">
  <h3>Tarefa: {{ tarefa.nome }}</h3>
  <select>
    <option>{{ tarefa.categoria }}</option>
    <option>To-Do</option>
    <option>Doing</option>
    <option>Done</option>
  </select>
  <button (click)="remover(indice)">Remover</button>
</div>
