header {
  display: flex;
  background-color: rgb(57, 117, 170);
  margin-top: 0.5%;
  width: 100%;
  height: 50px;
  justify-content: center;
}
/* GRID-MAIN */
#main-grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 60% 40%;
}
.grid-show-default {
  flex-direction: column;
  display: flex;
  width: 90%;
  align-items: center;
  margin-top: 10%;
}
.div-tarefas {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 80%;
  height: 10%;
  margin-bottom: 3%;
  border: 2px solid white;
}
.tarefa-registrada {
  color: aliceblue;
  justify-content: center;
}
#tittle-tarefa {
  display: flex;
  width: 100%;
  height: 40%;
  border-bottom: 2px solid white;
}
#right-grid-inputs-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.buttons-inputs-list {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
}
.buttons-inputs-list:hover {
  color: rgb(160, 161, 214);
  background-color: white;
  border: 2px solid rgb(160, 161, 214);
  cursor: pointer;
}
/* CADASTRO */
#cadastro-div {
  color: white;
  display: flex;
  width: 70%;
  height: 100%;
}
#informations-cadastro {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 30% 50% 20%;
  flex-direction: column;
}
.inputs-buttons-cadastro {
  background-color: white;
  border: 2px solid rgb(57, 117, 170);
  color: rgb(57, 117, 170);
}

.grid-elements {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#tituloTarefa {
  display: flex;
  width: 400px;
  height: 60px;
  font-size: 20px;
}
.grid-inside {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 70% 30%;
}
#descricao-tarefa {
  font-size: 15px;
  height: 250px;
  resize: none;
  overflow: auto;
}
#grid-categoria-cadastrar {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 100%;
}
#select-categoria {
  display: flex;
  width: 150px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

#botao-cadastro {
  display: flex;
  width: 35%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

#tarefa-sendo-cadastrada {
  display: grid;
  grid-template-rows: 10% 20% 40% 15% 15%;
  width: 70%;
  height: 100%;
  flex-direction: column;
  border: 2px solid rgb(57, 117, 170);
}
.grid-view {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#conteudo-view {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
}
