<section id="secao-tela-inicial">
    <!-- LOGIN -->
    <div id="div-container-formulario-login">
        <form id="formulario-login">
            <div id="formulario-titulo-login">
                <h2>Bem-Vindo</h2>
            </div>
            <div class="formulario-label-input">
                <label for="id">ID</label>
                <input type="text" name="id" class="login-input">
            </div>
            <div class="formulario-label-input">
                <label for="senha">Senha</label>
                <input type="text" name="senha" class="login-input">
            </div>
            <div class="formulario-botao">
                <button type="submit" class="botao-login">Entrar</button>
            </div>
        </form>
    </div>
    <!--  -->

    <!-- REGISTER -->
</section>
