.main-content {
  background-color: white;
  display: flex;
  width: 100vw;
  height: 15vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.information-tasks {
  display: flex;
  height: 30%;
  width: 70%;
  justify-content: center;
  flex-direction: column;
}
.tittle-section {
  border-bottom: 2px solid gray;
  width: 45%;
}
.content-tasks-page {
  display: flex;
  height: 10%;
  margin-top: 1%;
}

.main-content-tasks{
  display: flex;
  width: 100vw;
  height: 50%;
  justify-content: center;
}
.scroll-bar {
  display: grid;
  width: 80%;
  max-width: 80%;
  justify-content: baseline;
  grid-template-columns: repeat(3 ,1fr);    
  flex-direction: row;
}
.tittle-list-grid {
  margin-top: 5%;
  flex-direction: column;
  display: flex;
  width: 350px;
  height: 400px;
  max-height: 400px;
  max-width: 350px;
  justify-content: baseline;
  align-items: center;
  border: 2px solid black;
  overflow-y: auto;
  overflow-x: hidden;
}
.category-tittle {
  display: flex;
  margin-top: 5%;
  background-color: white;
}
.div-tasks-behind {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}
/* button-add */
.button-add {
  display: flex;
  width: 95%;
  height: 9%;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  margin-top: 4%;
  cursor: pointer;
}
