<section id="grid-tasks">
  <div class="scroll-bar">
    <div
      *ngFor="let categoria of categorias"
      class="tittle-list-grid"
    >
      <h2>{{ categoria }}</h2>
      <div
        *ngFor="let tarefa of tarefas;"
        class="div-tasks-behind"
      >
        <div *ngIf="tarefa.categoria == categoria" class="div-tasks">
          <div class="description-view-in-list">
            <div id="tittle-tarefa">
              <h3 class="wordBreak">Tarefa: {{ tarefa.titulo }}</h3>
            </div>
            <div class="description-div">
              <p class="wordBreak">Descrição: {{ tarefa.descricao }}</p>
            </div>
          </div>
          <div class="description-view-in-list">
            <select
              class="buttons-inputs-list"
              (change)="mudarCategoria()"
              [(ngModel)]="tarefa.categoria"
            >
              <option *ngFor="let categoria of categorias">{{categoria}}</option>
            </select>
            <button (click)="remover(tarefa)" class="buttons-inputs-list">
              Remover
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
