 <div class="main-content">
   <div class="information-tasks">
     <h2 class="tittle-section">Minhas Tarefas</h2>
     <p class="content-tasks-page">
       Aqui você pode criar e organizar suas tarefas, descrevendo atividades e
       afazeres do seu dia-a-dia.
     </p>
   </div>
 </div>
 <div class="main-content-tasks">
   <div class="scroll-bar">
     <div
       *ngFor="let categoria of categoriasRegistradas"
       class="tittle-list-grid"
       [style.background-color]="categoria.cor"
     >
       <div class="category-tittle">
         <h2>{{ categoria.nome }}</h2>
       </div>
       <div
         *ngFor="let tarefa of getTarefas(categoria)"
         class="div-tasks-behind"
       >
         <app-task [tarefas]="tarefaRegistradas" [tarefa]="tarefa" [categoria]="categoria" [categorias]="categoriasRegistradas"></app-task>
       </div>
       <button routerLink="/registrar-tarefa" (click)="sendList(categoria)" class="button-add">+</button>
     </div>
   </div>
   </div>

