#grid-tasks {
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 100% ;
  margin-top: 3%;
}
.scroll-bar{
  display: flex;
  width: 80vw;
  overflow: auto;
  overflow-y: hidden;
  transform: rotateX(180deg);
}
::-webkit-scrollbar-track{
  background-color: black;
}
.tittle-list-grid {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 20%;
  word-break: break-all;
  justify-content: baseline;
  align-items: center;
  border: 2px solid black;
  transform: rotateX(180deg);

}
.div-tasks-behind {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}
.div-tasks {
  display: grid;
  width: 80%;
  height: 100%;
  grid-template-columns: 70% 30%;
  height: max-content;
  box-sizing: content-box;
}
.description-view-in-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
}
#right-grid-inputs-list {
  width: 100%;
}
.buttons-inputs-list {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
}
.buttons-inputs-list:hover {
  color: rgb(160, 161, 214);
  background-color: white;
  border: 2px solid rgb(160, 161, 214);
  cursor: pointer;
}
