/* UTILITIES */
.wordBreak {
  word-break: break-all;
}
/* MAIN GRID */
#grid-register {
  display: grid;
  width: 100vw;
  height: 100%;
  position: fixed;
  grid-template-columns: 60% 40%;
}
/*  */
/* LEFT GRID */
#list-tasks-div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.square-list-div {
  display: flex;
  width: 45%;
  background-color: white;
  height: 350px;
  max-height: 350px;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
}
/*  */
/* RIGTH GRID */
.icon {
  width: 30px;
  height: auto;
  cursor: pointer;
}
.div-register-square {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
}
.div-register-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: baseline;
}
.grid-show-default {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2%;
  right: 0%;
}
.div-main-register {
  display: grid;
  grid-template-columns: 70% 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 2px solid black;
  height: 100%;
  color: black;
}

.inputs-buttons-cadastro {
  display: flex;
  width: 100%;
  border: 0;
  font-size: 30px;
}
#tituloTarefa {
  display: flex;
  height: 12%;
}
#descricao-tarefa {
  display: flex;
  margin-top: 2%;
  height: 30%;
  font-size: 20px;
  resize: none;
}
.button-div {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: center;
}
#botao-cadastro {
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
#botao-cadastro:hover {
  top: -5%;
  left: -5%;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
}
