#grid-register {
  display: grid;
  width: 100vw;
  height: 92.30%;
  margin-top: 50px;
  position: absolute;
  grid-template-columns: 60% 40%;
}
#list-tasks-div{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.square-list-div{
  display: flex;
  width: 45%;
  background-color: white;
  height: 350px;
  max-height: 350px;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
}
.icon{
  width: 30px;
  height: auto;
  cursor: pointer;
}
.div-register {
  display: flex;
  width: 100%;
  height: 100%;
  right: 0%;
  flex-direction: column;
}
.div-right{
  display: flex;
  width: 40%;
  background-color: aliceblue;
}

/* UTILITIES */
.wordBreak {
  word-break: break-all;
}

.grid-show-default {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2%;
  right: 0%;
}
.div-main-register {
  display: grid;
  grid-template-columns: 70% 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 2px solid black;
  height: 100%;
  color: black;
}
.text-div-main-register {
  align-self: baseline;
  margin-left: 10%;
  background-color: inherit;
}

.inputs-buttons-cadastro {
  background-color: white;
  border: 2px solid rgb(57, 117, 170);
  color: rgb(57, 117, 170);
  justify-content: center;
  align-items: center;
}
#tituloTarefa {
  display: flex;
  width: 80%;
  height: 10%;
  font-size: 20px;
}
#descricao-tarefa {
  display: flex;
  width: 80%;
  height: 30%;
  font-size: 15px;
  resize: none;
}
#select-categoria {
  display: flex;
  width: 150px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#botao-cadastro {
  display: flex;
  width: 35%;
  height: 30%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
