<div id="main-grid">
  <div class="grid-show-default">
    <div class="div-main-register">
      <h1 class="text-div-main-register">Título:</h1>
      <input
        placeholder="Insira o título aqui..."
        maxlength="30"
        [(ngModel)]="tarefa.titulo"
        id="tituloTarefa"
        class="inputs-buttons-cadastro"
      />
      <h1 class="text-div-main-register">Descrição:</h1>
      <textarea
        rows="10"
        cols="50"
        placeholder="Insira a descrição aqui..."
        [(ngModel)]="tarefa.descricao"
        class="inputs-buttons-cadastro"
        id="descricao-tarefa"
      ></textarea>
      <h1
        class="text-div-main-register"
        style="align-self: center; margin-left: 0%"
      >
        Categoria:
      </h1>
      <select
        [(ngModel)]="tarefa.categoria"
        class="inputs-buttons-cadastro"
        id="select-categoria"
      >
        <option>To-Do</option>
        <option>Doing</option>
        <option>Done</option>
      </select>
      <h2 class="text-div-main-register">Categoria: {{ tarefa.categoria }}</h2>
      <button
        (click)="register()"
        id="botao-cadastro"
        class="inputs-buttons-cadastro"
      >
        Cadastrar
      </button>
    </div>
  </div>
</div>
