<div id="grid-register">
  <div id="list-tasks-div" [style.background-color]="categoria.cor">
    <div class="square-list-div">
      <h1>{{ categoria.nome }}</h1>
      <div class="list-tasks">
        <h2 id="tittle-section">Tarefas Registradas</h2>
        <ul class="list-square">
          <li *ngFor="let tarefa of getTarefas(categoria)">
            <h2>- {{ tarefa.titulo }}</h2>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <a routerLink="/tarefas" (click)="updateCurrentCategory()"
      ><img src="../assets/imgs/back-icon.png" class="icon"
    /></a>
    <div class="div-register-square">
      <div class="div-register-content">
        <h1>Título:</h1>
        <input
          placeholder="Insira o título aqui..."
          maxlength="30"
          [(ngModel)]="tarefa.titulo"
          id="tituloTarefa"
          class="inputs-buttons-cadastro"
        />
        <h1 class="text-div-main-register">Descrição:</h1>
        <textarea
          rows="10"
          cols="50"
          placeholder="Insira a descrição aqui..."
          [(ngModel)]="tarefa.descricao"
          class="inputs-buttons-cadastro"
          id="descricao-tarefa"
        ></textarea>
        <div class="button-div">
          <button
            (click)="register()"
            id="botao-cadastro"
            class="inputs-buttons-cadastro"
          >
            Cadastrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
