<section id="secao-tela-inicial">
    <!-- LOGIN -->
    <div id="div-container-formulario-login">
        <form id="formulario-login">
            <div id="formulario-titulo-login">
                <h2>Bem-Vindo</h2>
            </div>
            <div class="formulario-label-input">
                <label for="id">ID</label>
                <input [(ngModel)]="user.id" name="id" type="text" class="login-input">
            </div>
            <div class="formulario-label-input">
                <label for="senha">Senha</label>
                <input [(ngModel)]="user.password"name="password" type="password" class="login-input">
            </div>
            <div class="formulario-botao">
                <button (click)="requestUsuario()" type="submit" class="botao-login">Entrar</button>
            </div>
        </form>
    </div>
    <!--  -->
</section>